%h1 
  Legislators!
- if @legislators.empty?
  No legislators registered
%ul
  - @legislators.each do |legislator|
    %li 
      = link_to "#{legislator.first_name} #{legislator.last_name}", legislator_path(legislator) |
      = "(#{link_to "edit", edit_legislator_path(legislator)})"

= link_to "New", new_legislator_path