<% form_for @legislator do |f| -%>
  
  <p><%= f.label :first_name, "First Name" %><br />
  <%= f.text_field :first_name %></p>
  
  <p><%= f.label :last_name, "Last Name" %><br />
  <%= f.text_field :last_name %></p>
  
  <p><%= f.label :address1, "Address" %><br />
  <%= f.text_field :address1 %></p>
  
  <p><%= f.label :address2, "Address 2" %><br />
  <%= f.text_field :address2 %></p>
  
  <p><%= f.label :town, "Town" %><br />
  <%= f.text_field :town %></p>
  
  <p><%= f.label :state, "State" %><br />
  <%= f.text_field :state %></p>
  
  <p><%= f.label :zip, "Zip Code" %>  <%= f.label :zip4, "+4" %><br />
  <%= f.text_field :zip %> - <%= f.text_field :zip4 %></p>
  
  <%= f.submit "Create", :disable_with => 'Creating...' %>
<% end -%>