<p><%= @legislator.first_name %> <%= @legislator.last_name %> 
<br /><%= @legislator.address1 %>
<br /><%= @legislator.address2 %>
<br /><%= @legislator.town %>, <%= @legislator.state %> <%= @legislator.zip %>-<%= @legislator.zip4 %> </p>
